# get it from https://console.groq.com/home
GROQ_API_KEY=your_api_key_here

# must be relative to the backend directory
KNOWLEDGE_BASE_CSV_PATH=data/knowledge_base.csv
KNOWLEDGE_BASE_PL_PATH=data/knowledge_base.pl
